# =========================
# Minimal .gitignore
# Keep EVERYTHING except OS trash
# =========================

# Windows
Thumbs.db
desktop.ini

[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
[Uu]serSettings/


# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Linux
*~

# =========================
# End
# =========================
